table, td, th{
    border: solid 1px rgb(63, 63, 63);
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    background-color: white;
}
.ord{
    width: 80px;
}
td{
    width: 180px;

}
th{
    height: 50px;
    background-color: rgb(43, 188, 255);
}
tr:hover {background-color: rgb(141, 141, 141);}

body{
    background-color: rgb(163, 255, 255);
}
.valor{
    text-align-last: right;
}